useDynLib(ICtest)
import(stats)
import(graphics)
import(ICS)
import(JADE)
import(ggplot2)
importFrom(Rcpp, evalCpp)
importFrom(ICSNP, HR.Mest)
importFrom(survey,pchisqsum)
importFrom(GGally,ggpairs)
importFrom(png, readPNG)
export(NGPP, NGPPsim, NGPPest, covSIR, rorth, PCAasymp, components, SIRasymp, FOBIasymp, SIRboot, PCAboot, FOBIboot, ggscreeplot, rMU, rOMEGA)
S3method(screeplot,ictest)
S3method(plot,ictest)
S3method(components,ictest)
S3method(ggplot,ictest)